@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  /* Sizes */
  --desktop-size: 1440px;
  --mobile-size: 375px;

  /* Colors */
  --White: hsl(0, 0%, 100%);
  --Lightgray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);

  /* Font sizes */
  --paragraph: 15px;
}

* {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  font-size: var(--paragraph);
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}